
body {
  background: pink;
}

form {
  background: white;
  border-radius: 40px;
}

.error>input {
  border: 2px solid red;
}

input {
  float: left;
  margin-left: 10vw;
}

ul {
  float: left;
  margin-left: 10vw;
}

li {
  float: left;
}
button {
  margin-left: 2vw;
}
